h1{
    color: lightsalmon;
    display: table;
    margin: 0 auto;
}
td {
    height: 4em;
    width: 4em;
    border: solid;
}
form{
    display: table;
    margin: auto;
}
table{
    display: table;
    margin: 5% auto;
    border: solid;
    border-collapse: collapse;
    position: center;

}
button{
    height: 2em;
    background-color: bisque;
    color: coral;
    display: table;
    margin: 0 auto;
}